@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@600&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=+One&display=swap');

/* font-family: 'Inika', serif;
font-family: 'Inter', sans-serif;
font-family: 'Krona One', sans-serif; */
.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color:    #e9e2d0;
color:   rgb(33, 32, 26);
  height: 100vh;
 overflow-x: hidden;
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100%;
 font: inherit;
 font-weight: normal;

 -webkit-font-smoothing: inherit;
 -moz-osx-font-smoothing: inherit;
 line-height: 25px;

}

.home{
  display: flex;
  justify-content: center;
margin: 15px;
 
}
.links{
  display: flex;

  column-gap: 30px;
  list-style: none;
  color: rgba(39, 35, 30, 0.961) ;
  color: #af7079fe;
  cursor: pointer;
 
}
.links a {
  text-decoration: none;
  color: #80a1b0fe;

}
 .link:hover{
color: #656565;


}

.section{
display: flex;
flex-direction: column;
height: 100vh;
background:#f5f1da;
  width: 150vh;
  font-family: 'Krona One', sans-serif;
 
}

.header{
  display: flex;
  justify-content: left;
  margin-top: 20px;
  background-color: #f3d16456;
  width: 500PX;
  border-radius: 30%;


 
}

.logo{

display: flex;
justify-content: flex-start;
position: fixed;
}
#im{
  position: fixed;
}

.navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
 
}
.mail-link{
  color: #878787;
}

 .navbar-icons{
width: 70px;
height: 25px;

}
.mail{
  width: 70px;
height: 25px;
}
.mail:hover{

  color: #80a1b0fe;
}

.logo img {
height: 100px;
width: 90px;
cursor: pointer;


}


.second-section{
 margin-top: 50px;
}
.second-section section{
  display: flex;
  justify-content:space-evenly;
align-items:center;
margin: 0;
}
.second-section img {
width: 100%;
height: 520px;
border-radius: 10px;
}

.second-section p{
  font-family: 'Inika', serif;
  font-size: large;
  
}
.intro{
  display: flex;
  column-gap: 5px;

}

 .intro .first-span:hover{
  background-color: #e6c8643c;;
 padding: 10px;
  border-radius: 50%;
 }
 .intro .second-span:hover{
  background-color: #d4eafa;
  padding: 10px;
  border-radius: 50%;
 }
.second-section span{

  font-size: larger;
  font-weight: bolder;
  color: #80a1b0fe;
}


.contact-links {
  display: flex; 
justify-content: start;

column-gap: 20px;
margin-top: 100px;

}

.info{
  display: flex;
  flex-direction: column;
row-gap: 30px;

}



.exp{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 60px;
  
}


  .skill-container{
    width: 140vh;
    background-color:  #e6c8643c ;
    
height: 98vh;

   
  }
  .skill-dev{
display: flex;
justify-content: space-around;
align-items: centers;
text-align: start;


   
  }

 .divs{
 display: grid;
 place-content: center;
 place-items: center;
 
 }
  .dev-ti{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #628095;
    
    
  }
  .skill-icons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }
  .skill-icons h3{
    color: #587797
  }
  .devs{
    width: 40px;
    height: 70px;
    color: #628095;
  }
.h3{
  color: #587797
}
  ul li {
    list-style: none;
  }
  .dev-tools-container {
   display: grid;
   grid-template-columns:repeat(3, 1fr);
  
   place-items: center
   ;
   column-gap: 20px;
  
  }
  .dev-tools-container p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #b0c0cd;

    border:1.5px solid    #94784c;
    width: 145px;
    height: 50px;
    border-radius: 37%;
   

  }
  .dev-tools-container p:hover{
    background-color: #e8cf7d;
  }

  .tools{
    height: 50px;
    width: 60px;
    
  }
  

 
  .tools-container {
    display: flex;
    margin-top: 15px;
column-gap: 60px;
    animation: moveRightLeft 60s linear infinite; 
  }
  
  .tools {
    width: 50px; 
    margin: 0 10px; 
    display: flex;
    overflow: hidden;
  }
  

#design-icon{
 
  height: 100px;
  width: 100px;
}

#dev-icon{

  height: 100px;
  width: 100px;
}

  @keyframes moveRightLeft {
    0% {
      transform: translateX(100%); 
    }
    50% {
      transform: translateX(-100%); 
    }
    100% {
      transform: translateX(100%); 
    }
  }

 
.pro{
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 transition: transform 0.3s ease;
 background-color:rgba(219, 196, 199, 0.684);
  width: 140vh;

  text-align: left;
}
.pro h4{
  font-family: 'Krona One', sans-serif;
  color:  rgb(80, 139, 179);
}
.gomoku-pro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  height: 120vh;
}
  .gomoku-pro img{
    width: 90vh;
    border-radius: 10px;
  
  }
  .pro-tools{
    display: flex;
    column-gap: 20px;
    text-align: center;
  

  }
  .pro-tools p{
 color:  rgb(80, 139, 179);
    height: 30px;
    width: 80px;
    border: 4px dotted rgb(80, 139, 179);
   
     font-weight: 600;
  }
  .projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 60px;
  }



.pro:hover {
  transform: scale(1.05);
 box-shadow:3px 3px rgba(151, 137, 112, 0.677) ;
}

.gomoku-pro:hover{
  transform: scale(1.2);
}

.el-pro:hover{
  transform: scale(1.2);
height: 230vh;
}
.trio-pro:hover{
  transform: scale(1.2);
  height: 130vh;
}
.spa-pro:hover{
  transform: scale(1.2);
  height: 120vh;
}


/* Add this if you want to remove the hover effect on mobile devices */
@media (hover: none) {
  .pro:hover {
    transform: none;

  }
  .gomoku-pro:hover{
    transform: none;
  }
  .el-pro:hover {
    transform: none;
  }
  .trio-pro:hover{
transform: none;
  }
  .spa-pro:hover{
    transform: none;
  }
}

.el-pro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  height: 200vh;
}
.el-pro img{
  width: 90vh;
  border-radius: 10px;
}
.trio-pro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  height: 110vh;
 
}
.trio-pro img{
  width: 90vh;
  border-radius: 10px;
}
.spa-pro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  height: 110vh;
 
}
.spa-pro img{
  width: 90vh;
  border-radius: 10px;
}


.resume-container{
  background-color: #c4dbe2c0;
  width: 140vh;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items: center;
  column-gap: 100px;
  height: 170vh;
}
.resume-wrap{
 
margin-left: 20px;



}
.resume-container h1{
  color: #af7079fe;

}
.resume-container h5{
  color: #807479fe;
  font-weight:normal;
  font-size: large;
}

/* Resume component styling*/
.exp-list{
  display: flex;
  flex-direction: column;

}
.exp-list li{
  list-style:square;
  width: 300px;
}
.experinces{
  display: flex;
  flex-direction: column;



}

.experinces h3{
  color:#af7079fe;
  background-color: #eeece5;
  width: 140px;
padding: 10px;
  border-radius: 50px;
  text-align: center;

 
}
.experinces h4 {
 
  color:#af7079fe;
}
.exp-period{
  display: flex;
 align-items: center;
 column-gap: 70px;
 
}
.experinces span{
  width: 580px;
  height: 1.5px;
  background-color: #bfbdbd;
}
.social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}





.con {
  display: flex;
flex-direction: column;


 row-gap: 20px;
}

.exp1 {

height: 400px;
width: 470px;
  border-radius: 2%;
  
  background-color: #eeece5;
  box-shadow: 2px 2px rgba(152, 183, 197, 0.996) 
 
}

.exp2 {

  height: 300px;
 width: 470px;
  border-radius: 2%;


  background-color: #eeece5;
  box-shadow: 2px 2px #98b7c5fe ;
  
}
.exp-period h4{
  margin-left: 15px;

}
.core-list li{
  list-style: square;

}
.core ul{
  background-color: #eeece5;
  border-radius: 2%;
padding: 10px 0px 10px 40px;
}
.core{
  display: flex;
  flex-direction: column;
width: 250px;


}
.core h3{
  color:#af7079fe;


  text-align: center
}

.contact span{
  width: 180px;
  height: 16px;
  background-color:rgba(188, 179, 180, 0.678);


}
.contact{
  display: flex;
column-gap: 7px;


align-items: center;
}
.personal-info{
  display: flex;
  align-items: center;
  column-gap: 6px;
margin-top: -30px;
}
.download{
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}
.download-icon{
  height: 90px;
  width: 35px;
  color: #7db0dd;
  
  }
/* form */
.form-wrap{
  text-align: center;
margin-top: 40px;
display: grid;
place-content: center;
place-items: center;

}

.form-title{
  color:#80a1b0fe ;

  text-align: center;
  background-color: #e6c8643c;
 border-radius: 35%;
 width: 500px;

}
.contact-container {
  max-width: 140vh;
  margin: 50px auto;
  padding: 20px;
  border:none;
  border: 1px  solid  #80a1b0fe;
  border-top: none;
  border-right: none;
  border-radius: 4px;
height: 40vh;
text-align: center;


}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
row-gap: 25px;
margin-top: 15px;
font-size: large;
color: #80a1b0fe;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #80a1b0fe;
  border-radius: 4px;
  width: 40vh;
  border-right: none;
  border-top: none;
  border-left: none;
  background-color: transparent;
}




.form-info{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}
.form-info textarea{
outline: none;
width: 85vh;
height: 30px;

}


.form-info-container{
  display: flex;
  column-gap: 20px;
 
}


button {
  padding: 17px;
  background-color: transparent;
  color:#000;
  border: 1px solid #000;
font-size: large;
  cursor: pointer;
  width: 30vh;
  transition: background-position 0.3s ease-out;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, #95bacafe 50%);
}

button:hover {
  background-position: -100% 0;
}

.footer{
  display: flex;
   justify-content: space-around;
   height: 200px;
   background-color: #e6c8643c ;
   align-items: center;
   font-size: large;
   color: #656565;
}
.footer-links{
  display: flex;
justify-content: space-evenly;
column-gap: 20px;
align-items: center;
}
/* App.css */

/* Your existing styles */

.night-mode {

  background-color: #333a40;
  color: #fff; 
  .section{
    background-color: rgba(43, 46, 48, 0.868);
    color: #fff;
  }
  .header{
    background: #a7bbc9;
    
  }
  .links a{
    color: #000;
  }
  .links a:hover{
    color: #3c3b3b;
  }
 .first-span{
  color: #c1d3e1;
 }
 .second-span{
  color: #c1d3e1;
 }
 .first-span:hover{
  background-color:#84919b;
  color: #282c34;
 }
  .second-span:hover{
    background-color:#897997;
    color: #282c34;
 }
 .skill-container{

  background-color: #1a292f;
 }
 .skill-icons h3{
  color: #92b0cb;
 }
 .devs{
  color: #92b2ca;
 }
.dev-ti{
  color: #92b0cb;
}
.h3{
  color: #92b0cb;
}
.dev-tools-container p{
  background-color:  #8aa5bc;
  color:#1a292f;
  border: 1px solid #333a40;

}
.dev-tools-container p:hover{
  background-color:  #5e6c79;
  color: #fff;
}
.pro{
  background-color: #1a292f;

}
.pro:hover{
  box-shadow:  2px 2px #cbd9e6;
}
.pro h4{
  color: #92b2ca;
}
.pro-tools p{
  color: #cbd9e6;
  border: 4px dotted #cbd9e6;
}
.resume-container{
  background-color: #1a292f;
}
.resume-container h3{
  color: #92b2ca;
}
.resume-wrap p{
  color: #c6d2dc;
}
.resume-wrap h5{
  color: #a9b7c1;
}
.core-list{
  background-color:#596264;
}
.experinces h3{
  background-color: #92b2ca;
color: #383e3f;
}
.exp1, .exp2{
  background-color:#53595b;
}
.exp-period h4{
  color: #92b2ca;
}
.resume-wrap h1{
  color: #92b2ca;
}
.resume-container span{
  background: #92b2ca;
}
.download-icon{
height: 90px;
width: 35px;
color: #7db0dd;

}
.contact-container{
  border-color: #ffffff;

}
.form-info{
  color:#ced5da;
}
.form-info input, textarea{
  border-color: #dfe9f1;
}

 .btn{
  background-color:#21548f;
  color: #d4eafa;
  border-color:#d4eafa ;
}
.btn:hover{
  color: #282c34;
  border-color:#282c34 ;
}
.form-title{
  background-color: #325073;
  color: #d4eafa;
}
.footer{
  background-color: #325073;
  color: #d4eafa;
}
} 


.skill-container-icons{
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 30px;
}
.navbar-icons{
  margin: 30px;
  cursor: pointer;
}